# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have LF line endings on checkout.
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.s text eol=lf
*.S text eol=lf
*.sct text eol=lf
*.groovy text eol=lf
*.js text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.pdsc text eol=lf
*.cprj text eol=lf
*.clayer text eol=lf
*.mak text eol=lf
*.in text eol=lf
*.xsd text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.robot text eol=lf
*.svd text eol=lf
*.patch text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.uvguix text eol=crlf
*.uvoptx text eol=crlf
*.uvprojx text eol=crlf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
