name: global
on:
  pull_request:
  release:
    types: [ published ]

permissions: read-all

jobs:
  copyright:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout devtools
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Check copyright notice
        run: |
          pip install \
            pre-commit \
            python-magic==0.4.18 \
            comment-parser>=1.2.3
          pre-commit run --all-files
