name: markdown
on:
  pull_request:
    paths:
      - '.github/workflows/markdown.yml'
      - '.github/markdownlint.json'
      - '.github/markdownlint.jsonc'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linter:
    name: Lint markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: ${{ !github.event.repository.private }}
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout devtools
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Register markdownlint warning matcher
        run: |
          echo "::add-matcher::.github/markdownlint.json"

      - name: Lint markdown files
        uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb # v1.5.0
        with:
          args: '**/*.md'
          ignore: '**/testinput/**'
          config: '.github/markdownlint.jsonc'

      - name: Remove markdownlint warning matcher
        if: always()
        run: |
          echo "::remove-matcher owner=markdownlint::"

  check-links:
    name: Check markdown links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout devtools
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31 # master
        # Checks all Markdown files, including those in subfolders,
        # as the PR may involve removing referenced Markdown files.
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          base-branch: ${{ github.base_ref }}
          config-file: '.github/markdown-link-check.jsonc'
