name: markdown
on:
  pull_request:
    paths:
      - '.github/workflows/markdown.yml'
      - '.github/markdownlint.json'
      - '.github/markdownlint.jsonc'
      - '**/*.md'
jobs:
  linter:
    name: Lint markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: ${{ !github.event.repository.private }}
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout devtools
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Register markdownlint warning matcher
        run: |
          echo "::add-matcher::.github/markdownlint.json"

      - name: Lint markdown files
        uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb # v1.5.0
        with:
          args: '**/*.md'
          ignore: '**/testinput/**'
          config: '.github/markdownlint.jsonc'

      - name: Remove markdownlint warning matcher
        if: always()
        run: |
          echo "::remove-matcher owner=markdownlint::"

  check-links:
    name: Check markdown links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout devtools
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@1b916f2cf6c36510a6059943104e3c42ce6c16bc # master
        # Checks all Markdown files, including those in subfolders,
        # as the PR may involve removing referenced Markdown files.
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          base-branch: ${{ github.base_ref }}
          config-file: '.github/markdown-link-check.jsonc'
