name: test_libs
on:
  pull_request:
    paths:
      - '.github/workflows/test_libs.yml'
      - 'libs/**'

jobs:
  matrix_prep:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - id: set-matrix
      run: |
        publicRepo=$(echo '${{ !github.event.repository.private }}')
        matrix=$(jq --arg publicRepo "$publicRepo" 'map(. | select((.runOn==$publicRepo) or (.runOn=="always")) )' matrix_includes_test_libs.json)
        echo ::set-output name=matrix::{\"include\":$(echo $matrix)}\"
      working-directory: .github/
  test_libs:
    runs-on: ${{ matrix.runs_on }}
    needs: matrix_prep
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.matrix_prep.outputs.matrix) }}
    steps:
      - name: Install macos deps
        if: ${{ startsWith(matrix.runs_on, 'macos') }}
        run: |
          brew install \
            ninja

      - name: Install linux deps
        if: ${{ startsWith(matrix.runs_on, 'ubuntu') }}
        run: |
          sudo apt update
          sudo apt-get install \
            bc \
            build-essential \
            ninja-build

      - name: Install windows deps
        if: ${{ startsWith(matrix.runs_on, 'windows') }}
        run: choco install -y ninja

      - name: Checkout devtools
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Create build folder
        run: mkdir build

      - name: Configure windows build for amd64
        if: ${{ startsWith(matrix.runs_on, 'windows') }}
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      - uses: ammaraskar/gcc-problem-matcher@master
        if: ${{ startsWith(matrix.runs_on, 'macos') || startsWith(matrix.runs_on, 'ubuntu') }}
      - uses: ammaraskar/msvc-problem-matcher@master
        if: ${{ startsWith(matrix.runs_on, 'windows') }}

      - name: Build libs unittest
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DLIBS_ONLY=ON ..
          cmake --build .
        working-directory: ./build

      - name: Run libs unittest
        run: |
          ctest -C Debug -V
        working-directory: ./build

      - name: Archive libs unittest reports
        uses: actions/upload-artifact@v2
        with:
          name: libs_unittest_report_${{ matrix.target }}
          path: build/*_test_report.xml
          retention-days: 1
          if-no-files-found: error

      - name: Publish libs unittest reports
        uses: mikepenz/action-junit-report@v2
        with:
          check_name: libs_unittest_report_${{ matrix.target }}
          report_paths: build/*_test_report.xml
